nextTrip_FrontEnd/node_modules
nextTrip_FrontEnd/src/keys.js

mongoDB_Server/node_modules
mongoDB_Server/config

flask_LocationModel/data
flask_LocationModel/env
flask_LocationModel/config
flask_LocationModel/models
flask_LocationModel/api/__pycache__

Pipfile
Pipfile.lock
