@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  background-color: #3b82f6 !important;
  margin: 0;
  padding: 0;
}

.info-window-content {
  color: #000 !important;
}